@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-variant-numeric: tabular-nums;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

::-webkit-scrollbar { height: 8px; width: 8px; }
::-webkit-scrollbar-thumb { background: #E3E6E3; border-radius: 8px; }
